<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div style="display: flex; justify-content: center; margin-top: 50px;">
        <div class="ui raised segment" style="width: 65%;">
            <h1 class="ui center aligned header">ToDo App</h1>

            <form class="ui form" style="display: flex; justify-content: center;" action="{{url_for('add')}}"
                method="post">
                <div class="inline field">
                    <label for="task">Task</label>
                    <input name="task_title" type="text" placeholder="Enter Task...">
                    <button class="ui green button" style="margin-left: 10px;" type="submit">Add</button>
                </div>
            </form>

            {% for task in all_tasks %}
            <div class="ui raised segment">
                <span>
                    {{task.title}}
                    {% if task.status == False %}
                    <span class="ui grey label">Incomplete</span>
                    {% else %}
                    <span class="ui green label">Complete</span>
                    {% endif %}
                </span>
                <div style="margin-top: 20px;">
                    <a class="small ui blue button" href="/update/{{ task.id }}">Update</a>
                    <a class="small ui orange button" href="/edit/{{ task.id }}">Edit</a>
                    <a class="small ui red button" href="/delete/{{ task.id }}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>