<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>ToDo App</h1>

    <form action="/add" method="post">
        <label for="task">Task</label>
        <input name="task_title" type="text" placeholder="Enter Task...">
        <button type="submit">Add</button>
    </form>

    {% for task in all_tasks %}
    <p>{{task.id}} | {{task.title}}</p>

    {% if task.status == False %}
    <span>Incomplete</span>
    {% else %}
    <span>Complete</span>
    {% endif %}

    <a href="/update/{{ task.id }}">Update</a>
    <a href="/delete/{{ task.id }}">Delete</a>

    {% endfor %}
</body>

</html>